body {
  margin: 0;
}

.flag {
  width: 60vw;
  height: 40vw;
  background-color: #012169;
  margin: 20vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.red-crossline {
  position: absolute;
  width: 8vw;
  height: 40vw;
  background-color: #c8102e;
}

.red-crossline2 {
  position: absolute;
  width: 60vw;
  height: 8vw;
  background-color: #c8102e;
}

.white-crossline {
  position: absolute;
  width: 12vw;
  height: 40vw;
  background-color: white;
}

.white-crossline2 {
  position: absolute;
  width: 60vw;
  height: 12vw;
  background-color: white;
}

.red-diag-line {
  position: absolute;
  width: 2vw;
  height: 73vw;
  background-color: #c8102e;
  transform: rotate(56deg);
  border-left: 1vw solid white;
  border-right: 3vw solid white;
}

.red-diag-line2 {
  position: absolute;
  width: 2vw;
  height: 73vw;
  background-color: #c8102e;
  transform: rotate(-57deg);
  border-left: 1vw solid white;
  border-right: 3vw solid white;
}
